# Project 8: Best Markets for E-Learing
## Intermediate Statistics

In this project, we will use statistics method to extract useful infromation to decide best markets for E-Learning based on freeCodeCamp 2017 survey.

Datasets used in this project from:
* [freeCodeCamp2017](https://raw.githubusercontent.com/freeCodeCamp/2017-new-coder-survey/master/clean-data/2017-fCC-New-Coders-Survey-Data)

We will first import the dataset and take quick look into it:

In [1]:
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment', None)

In [2]:
df=pd.read_csv('2017-fCC-New-Coders-Survey-Data.csv', low_memory=False)
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,YouTubeFCC,YouTubeFunFunFunction,YouTubeGoogleDev,YouTubeLearnCode,YouTubeLevelUpTuts,YouTubeMIT,YouTubeMozillaHacks,YouTubeOther,YouTubeSimplilearn,YouTubeTheNewBoston
0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34.0,0.0,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns[62]

'JobInterestOther'

We will start visualizing data showcasing Job Role Interest stats based on survey:

In [4]:
job=df['JobRoleInterest'].str.split(',',expand=True).stack().str.strip()[:,0].value_counts().to_frame()
job=job[job[0]>10]
print(job.plot.pie(subplots=True, legend=False, title='Job Role Interest'))
print(job.plot.barh(legend=False,colormap='cubehelix'))

[<matplotlib.axes._subplots.AxesSubplot object at 0x0000020D4A2FD198>]
AxesSubplot(0.125,0.11;0.775x0.77)

We will also explore where surveyees come from and target big markets:

In [5]:
df['CountryLive'].value_counts()

United States of America         5791
India                            1400
United Kingdom                    757
Canada                            616
Brazil                            364
Germany                           324
Poland                            265
Russia                            263
Australia                         259
France                            228
Spain                             217
Nigeria                           214
Ukraine                           202
Romania                           171
Italy                             164
Mexico                            155
Netherlands (Holland, Europe)     142
Philippines                       135
South Africa                      126
Turkey                            120
Greece                            116
Serbia                            115
Argentina                         113
Pakistan                          109
Kenya                              92
Indonesia                          91
China                              90
Egypt                              87
Sweden                             80
Hungary                            77
                                 ...
Benin                               2
Malawi                              2
Hawaii                              1
Canary Islands                      1
British Indian Ocean Ter            1
Gibraltar                           1
Rwanda                              1
Burundi                             1
Bermuda                             1
Barbados                            1
Aruba                               1
Kuwait                              1
New Caledonia                       1
Samoa                               1
Tajikistan                          1
Sierra Leone                        1
Greenland                           1
Gabon                               1
Virgin Islands (British)            1
Anguilla                            1
Channel Islands                     1
Guadeloupe                          1
Martinique                          1
Korea North                         1
Liberia                             1
Curacao                             1
Botswana                            1
Madagascar                          1
Vanuatu                             1
Isle of Man                         1
Name: CountryLive, Length: 172, dtype: int64

In [6]:
top4 = df[df['CountryLive'].isin(['United States of America','India','United Kingdom','Canada'])]
top4['CountryLive'].value_counts()

United States of America    5791
India                       1400
United Kingdom               757
Canada                       616
Name: CountryLive, dtype: int64

At last, we will calculate money relatively spent per month for useful insights:

In [7]:
top4['Pay'] = top4['MoneyForLearning'] / top4['MonthsProgramming'].replace(0,1)
top4 = top4[top4['Pay'].notnull()]

In [8]:
pd=pd.DataFrame(data = {'Mean ($)': top4.groupby('CountryLive')['Pay'].mean(), 
                     'Std ($)': top4.groupby('CountryLive')['Pay'].std()})
pd.sort_values(by=['Mean ($)'], ascending=False)

                            Mean ($)      Std ($)
CountryLive
United States of America  206.297711  1807.536639
Canada                    118.434054   365.956679
India                      66.526198   442.078116
United Kingdom             55.774980   238.509986

End. Thankyou!